@{

}

        <h1 class="text-center">Welcome to My Recipes</h1>
        <a href="~/ViewRecipes/" class="btn btn-default btn-lg btn-block home-button">View Recipes</a>
        <a href="~/ViewMeasurements/" class="btn btn-default btn-lg btn-block home-button">View Measurements</a>
        <a href="~/ViewIngredients/" class="btn btn-default btn-lg btn-block home-button">View Ingredients</a>