@{
    Page.Title = "Recipe List";

    var db = Database.Open("MyRecipes");
    var items = db.Query("SELECT * FROM Measurements where Description <> '' order by Description ASC").ToList();
}

        <h1 class="text-center">Measurement List</h1>
        <a href="~/Members/EditMeasurement/0" title="Add Measurement" class="btn btn-success">Add Measurement</a>
        <ul class="list-group">
            @foreach (var i in items) {
                <li class="list-group-item">
                    <span class="badge"><a href="~/Members/EditMeasurement/@i.Id" title="Edit @i.Description">Edit</a></span>
                    @i.Description
                </li>
            }
        </ul>